{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template profilefield_database/category-data

    Example context (json):
    {
      "data": {
        "id": 123,
        "datas": [
          {
            "id": 1,
            "name": "Example Data 1",
            "data": "Example value 1"
          },
          {
            "id": 2,
            "name": "Example Data 2",
            "data": "Example value 2"
          }
        ]
      }
    }
}}

<form id="moodleForm" class="needs-validation" method="post" novalidate
      enctype="multipart/form-data"
      action="category-data.php?id={{data.id}}&category={{category.id}}">
        <input type="hidden" name="sesskey" value="{{config.sesskey}}">

    <input type="hidden" name="data_id" value="{{data.id}}">

    {{#datas}}
        {{#field}}
            <div class="mb-3">
                <label for="data{{id}}" class="form-label">{{field}}</label>
                <input type="text" class="form-control" id="data{{id}}" name="data{{id}}"
                       required
                       value="{{data}}">
                <div class="invalid-feedback">{{#str}}category_field-error,profilefield_database{{/str}}</div>
            </div>
        {{/field}}
    {{/datas}}

    <div class="">
        {{#data.id}}
            <button type="submit" class="btn btn-primary">{{#str}}save{{/str}}</button>
        {{/data.id}}
        {{^data.id}}
            <button type="submit" class="btn btn-primary">{{#str}}add{{/str}}</button>
        {{/data.id}}
    </div>

</form>

{{#js}}
    require(["jquery"], function($) {
        $("#moodleForm").on("submit", function(e) {
            let isValid = true;

            // If it is not valid, it prevents the form from being sent.
            if (!isValid) {
                e.preventDefault();
            }
        });

        // Remove error class when typing in field
        $("#moodleForm input").on("input", function() {
            $(this).removeClass("is-invalid");
        });
    });
{{/js}}
