<form id="moodleForm" class="needs-validation" method="post" novalidate
      enctype="multipart/form-data">
    <input type="hidden" name="sesskey" value="{{config.sesskey}}">

    <input type="hidden" name="data_id" value="{{data.id}}">

    {{#datas}}
        {{#name}}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="data{{id}}" class="form-label">{{name}}</label>
                    <input type="text" class="form-control" id="data{{id}}" name="data{{id}}"
                           required
                           value="{{data}}">
                    <div class="invalid-feedback">{{#str}}category_field-error,profilefield_database{{/str}}</div>
                </div>
            </div>
        {{/name}}
    {{/datas}}

    <div class="col-md-6 mb-3">
        {{#data.id}}
            <button type="submit" class="btn btn-primary">{{#str}}save{{/str}}</button>
        {{/data.id}}
        {{^data.id}}
            <button type="submit" class="btn btn-primary">{{#str}}add{{/str}}</button>
        {{/data.id}}
    </div>

</form>

{{#js}}
    /*
    <script>*/
    require(["jquery"], function($) {

        $("#moodleForm").on("submit", function(e) {
            let isValid = true;

            // Se não for válido, impede o envio do formulário
            if (!isValid) {
                e.preventDefault();
            }
        });

        // Remove a classe de erro ao digitar no campo
        $("#moodleForm input").on("input", function() {
            $(this).removeClass("is-invalid");
        });
    });
{{/js}}
