{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template profilefield_database/category

    Example context (json):
    {
      "is_categorys": true,
      "categorys": [
        {
          "id": 1,
          "name": "Mathematics"
        },
        {
          "id": 2,
          "name": "Science"
        }
      ]
    }
}}

<div class="table-responsive">
    {{#is_categorys}}
        <table class="generaltable">
            <thead>
            <tr>
                <th class="header c0">{{#str}}category_name,profilefield_database{{/str}}</th>
                <th style="width: 100px; white-space: nowrap">&nbsp;</th>
            </tr>
            </thead>
        <tbody>
            {{#categorys}}
            <tr>
                <td>{{name}}</td>
                <td style="width: 100px; white-space: nowrap">
                    <a href="category-details.php?id={{id}}"
                    class="btn btn-primary">{{#str}}details{{/str}}</a>

                    <a href="category-edit.php?id={{id}}"
                        class="btn btn-success">{{#str}}edit{{/str}}</a>

                    <a href="category-edit.php?id={{id}}&delete=1"
                    class="btn btn-danger">{{#str}}delete{{/str}}</a>
                </td>
            </tr>
            </tbody>
            {{/categorys}}
        </table>
    {{/is_categorys}}

    {{^is_categorys}}
        <div class="alert alert-warning">{{#str}}category_none,profilefield_database{{/str}}</div>
    {{/is_categorys}}
    <p><a href="category-edit.php?id=-1"
          class="btn btn-primary">{{#str}}add-new-category,profilefield_database{{/str}}</a></p>
</div>
