<table class="ml-3 mt-0 table" style="width: auto;">
    {{#fields}}
        {{#visible}}
            <tr>
                <td style="text-align: right;font-weight: 600;padding: 4px;">{{name}}:</td>
                <td style="padding: 4px;">{{data}}</td>
            </tr>
        {{/visible}}
    {{/fields}}
</table>
